
<% provide(:title, 'All users') %>
<div class="page">
	<div class="content">
		<div class="indexlocale">
			<h1>All users</h1>
			<% @users.each do |user| %>
				<div class="form"><%= link_to user.user_name, user %></div>
			<% end %>
		</div>
	</div>
</div>