	<div class="fititin">
		<div class="hidetopic">
		    <div class="hideseller">
		    	<span class="sellerfiller">
		        	<span class="source"><span class="centertext">secret</span></span>
		        	<span class="source"><span class="centertext">place</span></span>
		        	<span class="source"><span class="centertext">here</span></span>
		       	</span>
		    </div>
			<span class="hideglance">
				<span class="gap"></span>

			</span>
			<span class="hidefeature">
				<span class="gap"></span>

			</span>
			<span class="hidespec">
				<span class="gap"></span>

			</span>
		</div>
	</div>
