    <div class="sidebar">
        <h4 id="department_header">
          <%= link_to_unless_current "Departments", root_path %>
        </h4>
        <div id="department">
          <% Department.roots.each do |department| %>
            <div>
              <%= link_to department.department_name, department %>
            </div>
          <% end %>
        </div>
        <hr class="breaker"/>
        <h4 id="index_filler">
        </h4>
    </div>