

<body>
  <div class="page">
      <%= render "departments/index_sidebar" %>
    <div class="content">
      <h1 class="breadsecond">
        Clerkable
      </h1>
      <div class="embed-dept-container">
        <%= embed("Rd8n74XDQUY") %>
      </div>
    </div>
      <div class="index_room">
        <% Department.roots.each do |department| %>    
          <div class="dept_content">
            <div class="dept_header">
              <%= link_to department.department_name, department %>
            </div>
            <div class="embed-dept-thumbnail-container">
              <%= embed_thumbnail(department.youtube_thumbnail_id) %>
            </div>
          </div>  
        <% end %>
      </div>
  </div>
</body>
