

<body>
  
      <%= render "departments/index_sidebar" %>
    
  

    
    <h1>
      Clerkable
    </h1>
    
    <div class="col-md-9">
      <div class="embed-container col-md-9 center-text">
        <%= embed("Rd8n74XDQUY") %>
      </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <div class="row head_room">
      <% Department.roots.each do |department| %>
        <div class="col-md-3 text-center">
          <div class="product_content">
            <div class="product_header">
              <%= link_to department.department_name, department %>
            </div>
            <div class="embed-thumbnail-container col-md-12 text-center">
              <%= embed_thumbnail(department.youtube_thumbnail_id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div></div>
</body>
