<% provide(:title, @department.department_name) %>

<body>
	<div class="content">
	
		<%= render "layouts/sidebar" %>
		<div class="front">
			<%= render "layouts/breadcrumbs" %>
			<h1>
				<%= @department.department_name %>
			</h1>
		</div>
		<div class="embed-container">
			<%= embed(@department.youtube_id) %>
		</div>
		
		
	</div>
</body>