/* universal */

body {
  margin-top: 40px;
  background-color: #fffff0;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 87.5%;
  line-height: 1.5;
}

.flash {
  margin: 10px 10px 10px 20px;
}
.form {
  margin: 10px 10px 10px 10px;
}
.page {
  position: absolute;
  left:50%;
  margin-bottom: 40px;
  @media (min-width: 320px){
    margin-left: -160px;
  }
  @media (min-width: 500px){
    margin-left: -250px;
  }
  @media (min-width: 680px) {
    margin-left: -340px;
  }
  @media (min-width: 880px){
    margin-left: -440px;
  }
  @media (min-width: 1070px){
    margin-left: -535px;
  }
}

.content{
  float: left;
  @media (min-width: 500px) and (max-width: 679px){
  }
}

.breadcrumbs {
  margin: 24px 0 -18px 20px;
  display: block;
  @media (min-width: 500px){
  margin-top: 29px;
  }
  @media (min-width: 880px){
  margin-top: 34px;
  }
}

.title {
  margin-top: 24px;
  margin-left: 20px;
  @media (min-width: 679px){
  }
  @media (min-width: 879px){
  }
}

/* don't know if i use hte next two */
.breadinside {
}

.locale {
  margin-top: 24px;
  margin-left: 20px;
  @media (min-width: 680px){
  }
  @media (min-width: 880px){
  }
}


/* youtubeframe */

.embed-dept-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
  margin-left: 50px;
  margin-right: 30px;
  border: solid 1px #808080;
  @media (max-width: 499px){
    width: 320px;
    height: 180px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 300px;
    height: 168px;
    margin-left: 20px;
    margin-right: 10px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 380px;
    height: 214px;
  }
  @media (min-width: 880px) {
    width: 560px;
    height: 315px;  
  }
  @media (min-width: 1070px){
    width: 560px;
    height: 315px;
  }  
}







.centertext{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.on{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  @media (max-width: 679px){
    margin-top: 22px;
  }
}
.onname{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  @media (max-width: 679px){
    margin-top: 22px;
    background-color: #ffffb3;
  }
}
.ontwo{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  @media (max-width: 679px){
  height: 44px;
  line-height: 44px;
  margin-top: 22px;
  }
}
.onnametwo{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  @media (max-width: 679px){
    margin-top: 22px;
    margin-bottom: 22px;
    height: 22px;
    line-height: 22px;
    padding-bottom: 0;
    background-color: #ffffb3;
  }
}
.off{
  width: 100%;
  display: block;
  background-color: #99ccff;
  @media (max-width: 679px){
    margin-top: 22px;
    background-color: #ccffcc;
  }
}
.offname{
  width: 100%;
  display: block;
  background-color: #99ccff;
  @media (max-width: 679px){
    margin-top: 22px;
    background-color: #ffffb3;
  }
}
.offtwo{
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  background-color: #99ccff;
  @media (max-width: 679px){
    height: 44px;
    line-height: 44px;
    margin-top: 22px;
    background-color: #ccffcc;
  }
}
.offnametwo{
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  background-color: #99ccff;
  @media (max-width: 679px){
    margin-top: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 44px;
    padding-bottom: 0;
    background-color: #ffffb3;
  }
}

.center{
  text-align: center;
}

/* basics */

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}
a:active {
  color: silver;
  text-decoration: none;
}
h1 {
  font-weight: 500;
  font-size: 225%;
  @media (max-width: 499px){
  font-size: 150%;
  }
    @media (min-width: 500px) and (max-width: 679px){
    font-size: 200%;
  }
}
h2 {
  font-weight: 500;
  font-size: 187.5%;
}
h3 {
  font-weight: 500;
  font-size: 150%;
}
h4 {
  font-weight: 505;
  font-size: 112.5%;
}
h5 {
  font-weight: 500;
  font-size: 87.5%;
}
h6 {
  font-weight: 500;
  font-size: 75%;
}

/* reducing px removes side borders */
.dept {
  margin-top: 30px;
}
.scrolldept {
  margin-left: 30px;
  margin-right: 30px;
  @media (max-width: 679px){
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 680px) and (max-width: 869px){
    margin-left: 10px;
    margin-right: 10px;
  }
  div {
    @media (max-width: 679px){
      margin-left: 1px;
      margin-right: 3px;
      width: 318px;
      }
    @media (min-width: 680px){
      margin-left: 2px;
      margin-right: 2px;
      width: 426px;
      }
    @media (min-width: 880px){
      margin-left: 3px;
      margin-right: 3px;
      width: 576px;
      }
    @media (min-width: 1070px){
    margin-left: 3px;
    margin-right: 3px;
    width: 768px;
    }
  }
}

.scrollcritic{
  margin-left: 30px;
  margin-right: 30px;
  @media (max-width: 679px){
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 680px) and (max-width: 869px){
    margin-left: 10px;
    margin-right: 10px;
  }
  div {
    @media (max-width: 679px){
      margin-left: 1px;
      margin-right: 3px;
      width: 318px;
      }
    @media (min-width: 680px){
      margin-left: 2px;
      margin-right: 2px;
      width: 426px;
      }
    @media (min-width: 880px){
      margin-left: 3px;
      margin-right: 3px;
      width: 576px;
      }
    @media (min-width: 1070px){
    margin-left: 3px;
    margin-right: 3px;
    width: 768px;
    /* set width to 841, but move arrows */
    }
  }
}

.scrollcritic2{
  
}

.scrollprod {
  margin-left: 30px;
  margin-right: 30px;
  @media (max-width: 679px){
    margin-left: 0;
    margin-right: 0;
    }
  @media (min-width: 680px) and (max-width: 879px){
    margin-left: 10px;
    margin-right: 10px;
    }
  div {
    @media (max-width: 679px){
      margin-left: 2px;
      margin-right: 2px;
      width: 216px;
      }
    @media (min-width: 680px){
      margin-left: 2px;
      margin-right: 3px;
      width: 284px;
      }
    @media (min-width: 880px){
      margin-left: 3px;
      margin-right: 4px;
      width: 384px;
      }
    @media (min-width: 1070px){
      margin-left: 3px;
      margin-right: 3px;
      width: 576px;
    }
  }
}

/* Dots */

.slick-slider{
  margin-bottom: 30px;
  @media (max-width: 679px){
    margin-bottom: 50px;
  }
}

.slick-dots{
    bottom: -20px;
    position: absolute;
    display: block;
    margin: 0 17% 14px 17%;
    width: 66%;
    padding: 0;
    list-style: none;
    text-align: center;
    @media (max-width: 679px){
      bottom: -60px;
    }
    @media (min-width: 680px) and (max-width: 879px){
      bottom: -40px;
    }
}

.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    color: green;
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    color: green;
    opacity: 1;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
}

/* Arrows */
.slick-prev,
.slick-next{
    font-size: 0;
    line-height: 0;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 5px black;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    @media (max-width: 679px){
      bottom: -20px;
    }
    @media (min-width: 680px) and (max-width: 879px){
      bottom: -20px;
    }
    @media (min-width: 880px){
    top: 120px;
    }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
    box-shadow: 0 0 5px green; 
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    color: green;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    border-radius: 30px;
    opacity: 1;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
    @media (max-width: 679px){
      left: 10px;
    }
    @media (max-width: 879px){
      left: 10px;
    }
}
[dir='rtl'] .slick-prev
{
    right: -35px;
    left: auto;
}
.slick-prev:before
{
    top: 50%;
    transform: translateY(-50%);
    content: '\1F818';
    line-height: .9;
    font-weight: 800;
    opacity: .75;
}
[dir='rtl'] .slick-prev:before
{
    content: 'dog';
}

.slick-next
{
    right: -25px;

  @media (max-width: 679px) {
    right: 10px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    right: 10px;
  }
  @media (min-width: 880px) and (max-width: 1069px) {
    right: -25px;
  }
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    top: 50%;
    transform: translateY(-50%);
    content: '\1F81A';
    line-height: .9;
    font-weight: 800;
    opacity: .75;
}
[dir='rtl'] .slick-next:before
{
    content: '>';
}

.pogo{
  padding-top: 20px;

  background-color: pink;
}
.pogo2{
  padding-top: 20px;

  background-color: blue;
}
.pogo3{
  padding-top: 20px;

  background-color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}


.affiliate_big_box{
  float: left;
  line-height: 2;
  display: block;
  @media (max-width: 679px) {
    font-size: 80%;
    width: 96px;
    margin: 5px 2px 8px 2px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    font-size: 80%;
    width: 120px;
    margin: 5px 0px 8px 0px;
  }
  @media (min-width: 880px) and (max-width: 1069px) {
    margin: 5px 0px 8px 0px;
    width: 160px;
  }
  @media (min-width: 1070px) {
    margin: 5px 0px 8px 0px;
    width: 220px;
  }
}


.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    margin-right: 65px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: green;
}

.signup {
  padding: 5px 5px 5px 5px;
  margin-top: 40px;
  border: solid, 1px, black;
  font-size: 150%;
 }

.mininav {
  float: right;
  font-weight: bold;
  padding: 14px 10px 14px 10px;
  background-color: white;
  border: solid 1px black;
      margin-right: 65px;
}