/* universal */

body {
  margin-top: 40px;
  background-color: #fffff0;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 87.5%;
  line-height: 1.5;
}

.flash {
  margin: 10px 10px 10px 20px;
}
.form {
  margin: 10px 10px 10px 10px;
}
.page {
  position: absolute;
  left:50%;
  margin-bottom: 40px;
  @media (min-width: 320px){
    margin-left: -160px;
  }
  @media (min-width: 500px){
    margin-left: -250px;
  }
  @media (min-width: 680px) {
    margin-left: -340px;
  }
  @media (min-width: 880px){
    margin-left: -440px;
  }
  @media (min-width: 1070px){
    margin-left: -535px;
  }
}

.content{
  float: left;
  @media (min-width: 500px) and (max-width: 679px){
  }
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  float: left;
  z-index: 1030;
  margin: 0 0 0 0;
  padding-right: 0;
  padding-left: 0;
  background-color: #333333;
  border-bottom: solid black 0px;
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  margin-left: 80px;
  margin-right: 10px;
  color: #fff;
  letter-spacing: -0.5px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 180%;
  @media (max-width: 499px){
    margin-left: 10px;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    margin-left: 50px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    margin-left: 70px;
  }
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.usernav {
  font-weight: bold;
  font-size: 125%;
  padding: 40px 10px 10px 10px;
}
.userlink {
  padding: 0px 0px 0px 10px;
}
.hamburger {
  cursor: pointer;
  padding: 17px 5px 5px 32px;
  display: block;
  float: left;
  @media (min-width: 500px) {
    display: none;
  }
}

.ham {
  border-bottom: 3px solid #bbb;
  width: 30px;
  margin-bottom: 5px;
}

.ham:last-child {
  margin-bottom: 0;
}

/* sidebar */

.sidebar {
  float: left;
  margin-left: 0;
  margin-right: 0;
  z-index: 2;
  @media (max-width: 499px) {
    margin-top: 25px;
    position: absolute;
    display: none;
    background-color: #fffff0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    line-height: 2;
    box-shadow: 5px 5px 10px;
  }
  @media (min-width: 500px) and (max-width: 679px){
    font-size: 87.5%;
    line-height: 1.75;
    width: 150px;
  }
  @media (min-width: 680px) and (max-width: 879px){
    width: 190px;
  }
  @media (min-width: 880px){
    width: 203px;
  }
}

#top_filler {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 25px;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
  border-image:
      linear-gradient(to top, #777, rgba(0, 0, 0, 0)) 1 100%;
        -webkit-border-image: 
         -webkit-gradient(linear, 0 100%, 0 0, from(#777777), to(rgba(0, 0, 0, 0))) 1 100%;
  @media (max-width: 499px) {
    display: none;
  }
}

.departments{
  @media (max-width: 499px){
    display: inline-block;
    float: left;
    width: 152px;
    margin-top: 8px;
  }
}

#department_header {
  padding: 0 0 10px 20px;
  margin: 0 0 0 0;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
  color: #000000;
  @media (max-width: 499px) {
    margin-top: 10px;
    border-left: 0;
    border-right: 0;
  }
}

#department {
  padding: 0 20px 10px 30px;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
  @media (max-width: 499px) {
    padding-left: 20px;
    border-left: 0;
    border-right: 0;
  }
  @media (min-width: 500px) and (max-width: 679px){
  padding-left: 20px;
  }
}

hr.breaker {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  height: 1px;
  background: #777777;
  @media (max-width: 499px){
    display: none;
  }
}

.subdepartments { 
  @media (max-width: 499px){
    margin: 8px 0 8px 0;
    display: inline-block;
    float: left;
    width: 159px;
    border-left: solid 1px #777777;
  }
}

#subdepartment_header {
  padding: 10px 0 10px 20px;
  margin-top: 0;
  margin-bottom: 0px;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
  color: #000000;
  @media (max-width: 499px) {
    border-left: 0;
    border-right: 0;
  }
}

#parent {
  padding-left: 30px;
  padding-bottom: 4px;
  margin-bottom: 0px;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
  border-bottom: dotted #777 1px;
  @media (max-width: 499px) {
    padding-left: 20px;
    border-left: 0;
    border-right: 0;
  }
  @media (min-width: 500px) and (max-width: 679px){
    padding-left: 20px;
  }
}

#siblings {
  padding: 4px 0 20px 50px;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
  @media (max-width: 499px) {
    padding-left: 30px;
    border-left: 0;
    border-right: 0;
  }
  @media (min-width: 500px) and (max-width: 679px){
    padding-left: 30px;
  }
}
#bottom_filler {
  padding: 15px 0 10px 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-left: solid #777 1px;
  border-right: solid #777 1px;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#777777, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#777777, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#777777, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #777, rgba(0, 0, 0, 0)) 1 100%;
  @media (max-width: 499px) {
    display: none
  }
}
.breadcrumbs {
  margin: 24px 0 -18px 20px;
  display: block;
  @media (min-width: 500px){
  margin-top: 29px;
  }
  @media (min-width: 880px){
  margin-top: 34px;
  }
}
.breadinside {
}
.indexlocale{
  margin-top: 24px;
  margin-left: 20px;
  @media (min-width: 500px) and (max-width: 679px){
    margin-top: 29px;
    margin-bottom: 15px;
  }
  @media (min-width: 680px){
  margin-top: 32px;
  }
  @media (min-width: 880px){
  margin-top: 34px;
  }
}
.locale {
  margin-top: 24px;
  margin-left: 20px;
  @media (min-width: 680px){
  }
  @media (min-width: 880px){
  }
}
.title {
  margin-top: 24px;
  margin-left: 20px;
  @media (min-width: 679px){
  }
  @media (min-width: 879px){
  }
}

/* youtubeframe */

.embed-dept-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
  margin-left: 50px;
  margin-right: 30px;
  border: solid 1px #808080;
  @media (max-width: 499px){
    width: 320px;
    height: 180px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 300px;
    height: 168px;
    margin-left: 20px;
    margin-right: 10px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 380px;
    height: 214px;
  }
  @media (min-width: 880px) {
    width: 560px;
    height: 315px;  
  }
  @media (min-width: 1070px){
    width: 560px;
    height: 315px;
  }  
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
  margin-left: 50px;
  margin-right: 30px;
  border-style: solid;
  border-color: #777;
  border-width: 1px;
  @media (max-width: 499px){
    width: 320px;
    height: 180px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 300px;
    height: 168px;
    margin-left: 20px;
    margin-right: 10px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 380px;
    height: 214px;
  }
  @media (min-width: 880px){
    width: 560px;
    height: 315px;
  }  
  @media (min-width: 1070px){
    width: 560px;
    height: 315px;
    margin-left: 130px;
  }  
}
.embed-index-thumbnail-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
  width: 160px;
  height: 90px;
  margin-bottom: 8px;
  border: solid 1px #808080;
  @media (max-width: 679px){
    width: 100px;
    height: 56px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 130px;
    height: 73px;
    margin-left: 0px;
    margin-right: 0px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.embed-dept-thumbnail-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
    width: 160px;
  height: 90px;
  margin-bottom: 8px;
  border: solid 1px #808080;
  @media (max-width: 679px){
    width: 100px;
    height: 56px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 100px;
    height: 56px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 140px;
    height: 79px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 880px) and (max-width: 1069px) {

    margin-left: 0px;
    margin-right: 0px;
  }
}

.embed-deptprod-thumbnail-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
  width: 220px;
  height: 123px;
  margin-bottom: 8px;
  border: solid 1px #808080;
  @media (max-width: 679px){
    width: 100px;
    height: 56px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 120px;
    height: 68px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 880px) and (max-width: 1069px) {
    width: 160px;
  height: 90px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.embed-thumbnail-container iframe,
.embed-container object,
.embed-container embed {
  float: left;
  width: 160px;
  height: 90px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  border-style: solid;
  border-color: #777;
  border-width: 1px;
  border-left: none;
  border-right: none;
  @media (max-width: 679px){
    width: 100px;
    height: 56px;
    border-left: none;
    border-right: none;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 120px;
    height: 68px;
  }
}

.centertext{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.on{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  @media (max-width: 679px){
    margin-top: 22px;
  }
}
.onname{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  @media (max-width: 679px){
    margin-top: 22px;
    background-color: #ffffb3;
  }
}
.ontwo{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  @media (max-width: 679px){
  height: 44px;
  line-height: 44px;
  margin-top: 22px;
  }
}
.onnametwo{
  background-color: #ccffcc;
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  @media (max-width: 679px){
    margin-top: 22px;
    margin-bottom: 22px;
    height: 22px;
    line-height: 22px;
    padding-bottom: 0;
    background-color: #ffffb3;
  }
}
.off{
  width: 100%;
  display: block;
  background-color: #99ccff;
  @media (max-width: 679px){
    margin-top: 22px;
    background-color: #ccffcc;
  }
}
.offname{
  width: 100%;
  display: block;
  background-color: #99ccff;
  @media (max-width: 679px){
    margin-top: 22px;
    background-color: #ffffb3;
  }
}
.offtwo{
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  background-color: #99ccff;
  @media (max-width: 679px){
    height: 44px;
    line-height: 44px;
    margin-top: 22px;
    background-color: #ccffcc;
  }
}
.offnametwo{
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  background-color: #99ccff;
  @media (max-width: 679px){
    margin-top: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 44px;
    padding-bottom: 0;
    background-color: #ffffb3;
  }
}
.gap{
  height: 10px;
  display: block;
}
.showstats{
  text-align: center;
  width: 100%;
  float: left;
  display: block;
  height: 44px;
  line-height: 44px;
  margin-bottom: 20px;
}

.seller{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 60px;
  margin: 5px 5px 5px 5px;
  background-color: #fffff0;
  border: solid 1px #000000;
  border-radius: 3px;
}
.seller:hover{
  color: green;
  border: solid 1px green;
}
.glance{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 60px;
  margin: 5px 5px 5px 5px;
  background-color: #fffff0;
  border: solid 1px #000000;
  border-radius: 3px;
}
.glance:hover{
  color: green;
  border: solid 1px green;
}
.feature{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 70px;
  margin: 5px 5px 5px 5px;
  background-color: #fffff0;
  border: solid 1px #000000;
  border-radius: 3px;
  height: 34px;
}
.feature:hover{
  color: green;
  border: solid 1px green;
}
.spec{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 60px;
  margin: 5px 5px 5px 5px;
  background-color: #fffff0;
  border: solid 1px #000000;
  border-radius: 3px;
  height: 34px;
}
.spec:hover{
  color: green;
  border: solid 1px green;
  }
.hideseller{
  display: none;
}
.hideglance{
  display: none;
  margin-top: 50px;
  padding-top: 50px;
}
.hidefeature{
  display: none;
}
.hidespec{
  display: none;
}
.open{
    display: initial;
}

hr.index {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 120px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #808080, #808080, rgba(0, 0, 0, 0));
  @media (max-width: 499px){
    width: 84px;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 110px;
  }
}



.index_room{
  padding-top: 30px;
  overflow: auto;
  float: left;
  @media (min-width: 320px) and (max-width: 499px) {
    padding-top: 20px;
    width: 320px;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 470px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    width: 576px;
    padding-top: 20px;
    margin-left: 45px;
  }
  @media (min-width: 880px) {
    width: 768px;  
    margin-left: 115px;
  }
  @media (min-width: 1070px){
    width: 960px;
    margin-left: 65px;
  }
}
.index_header{
  margin-bottom: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 120%;
  width: 140px;
  height: 30px;
  text-align: center;
  @media (max-width: 499px) {
    font-size: 100%;
    width: 90px;
    height: 47px;
    line-height: 47px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 130px;
    height: 46px;
    line-height: 46px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
  @media (min-width:680px){
    width: 162px;
    height: 46px;
    line-height: 46px;
    margin-left: 0px;
    margin-right: 0px;
  }

}

.index_content{
  float: left;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  border: none;
  text-align: center;
  @media (max-width: 499px){
    width: 100px;
    margin: 10px 3px 5px 3px;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    width: 130px;
    margin: 10px 13px 0 13px;
  }
  @media (min-width: 680px) {
    width: 162px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.head_room{
  float: left;
  padding-top: 30px;
  display: block;
  @media (max-width: 499px){
    padding-top: 10px;
    width: 320px;
  }
  @media (min-width: 500px) and (max-width: 679px) {
    padding-top: 10px;
    margin-left: 12px;
    width: 320px;
  }
  @media (min-width: 680px) {
    width: 460px;
    margin-left: 10px;
  }
  @media (min-width: 880px){
    width: 648px;
    margin-left: 10px;
  }
  @media (min-width: 1070px){
    width: 841px;
    margin-left: 10px;
  }
}

.affiliate_box{
  float: left;
  line-height: 2;
  display: block;
  @media (max-width: 679px) {
    font-size: 80%;
    width: 96px;
    margin: 5px 2px 8px 2px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    font-size: 80%;
    width: 120px;
    margin: 5px 0px 8px 0px;
  }
  @media (min-width: 880px){
    margin: 5px 0px 8px 0px;
    width: 160px;
  }
}
.affiliate_big_box{
  float: left;
  line-height: 2;
  display: block;
  @media (max-width: 679px) {
    font-size: 80%;
    width: 96px;
    margin: 5px 2px 8px 2px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    font-size: 80%;
    width: 120px;
    margin: 5px 0px 8px 0px;
  }
  @media (min-width: 880px) and (max-width: 1069px) {
    margin: 5px 0px 8px 0px;
    width: 160px;
  }
  @media (min-width: 1070px) {
    margin: 5px 0px 8px 0px;
    width: 220px;
  }
}
.price_box{
  float: left;
  display: inline-block;
  @media (max-width: 679px){
    width: 42px;
  }
  @media (min-width: 680px){
    width: 49px;
  }
  @media (min-width: 880px){
    width: 65px;
  }
}
.source_box{
  text-align: center;
  display: inline-block;
  @media (max-width: 679px){
    width: 54px;
  }
  @media (min-width: 680px){
    width: 71px;
  }
  @media (min-width: 880px){
    width: 95px;
  }
  a{
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
  }
  a:hover{
    border: solid 1px green;
  }
}

.price{
  display: block;
  @media (max-width: 679px){
    font-size: 85%;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
  }
  @media (min-width: 680px) and (max-width: 879px){
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
  }
  @media (min-width: 880px){
    height: 22px;
    line-height: 22px;
    margin-top: 5px;
  }
}
.source{
  display: block;
  @media (max-width: 679px){
    font-size: 85%;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
  }
  @media (min-width: 680px) and (max-width: 879px){
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
  }
  @media (min-width: 880px){
    height: 22px;
    line-height: 22px;
    margin-top: 5px;
  }
}
.basic{
  display: block;
  @media (max-width: 679px){
    font-size: 85%;
    height: 16px;
    line-height: 16px;
    margin-top: 1px;
  }
  @media (min-width: 680px) and (max-width: 879px){
    height: 18px;
    line-height: 18px;
  }
  @media (min-width: 880px){
    height: 22px;
    line-height: 22px;
  }
}
.center{
  text-align: center;
}

/* basics */

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}
a:active {
  color: silver;
  text-decoration: none;
}
h1 {
  font-weight: 500;
  font-size: 225%;
  @media (max-width: 499px){
  font-size: 150%;
  }
    @media (min-width: 500px) and (max-width: 679px){
    font-size: 200%;
  }
}
h2 {
  font-weight: 500;
  font-size: 187.5%;
}
h3 {
  font-weight: 500;
  font-size: 150%;
}
h4 {
  font-weight: 505;
  font-size: 112.5%;
}
h5 {
  font-weight: 500;
  font-size: 87.5%;
}
h6 {
  font-weight: 500;
  font-size: 75%;
}

/* reducing px removes side borders */
.dept {
  margin-top: 30px;
}
.scrolldept {
  margin-left: 30px;
  margin-right: 30px;
  @media (max-width: 679px){
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 680px) and (max-width: 869px){
    margin-left: 10px;
    margin-right: 10px;
  }
  div {
    @media (max-width: 679px){
      margin-left: 1px;
      margin-right: 3px;
      width: 318px;
      }
    @media (min-width: 680px){
      margin-left: 2px;
      margin-right: 2px;
      width: 426px;
      }
    @media (min-width: 880px){
      margin-left: 3px;
      margin-right: 3px;
      width: 576px;
      }
    @media (min-width: 1070px){
    margin-left: 3px;
    margin-right: 3px;
    width: 768px;
    }
  }
}

.scrollprod {
  margin-left: 30px;
  margin-right: 30px;
  @media (max-width: 679px){
    margin-left: 0;
    margin-right: 0;
    }
  @media (min-width: 680px) and (max-width: 879px){
    margin-left: 10px;
    margin-right: 10px;
    }
  div {
    @media (max-width: 679px){
      margin-left: 2px;
      margin-right: 2px;
      width: 216px;
      }
    @media (min-width: 680px){
      margin-left: 2px;
      margin-right: 3px;
      width: 284px;
      }
    @media (min-width: 880px){
      margin-left: 3px;
      margin-right: 4px;
      width: 384px;
      }
    @media (min-width: 1070px){
      margin-left: 3px;
      margin-right: 3px;
      width: 576px;
    }
  }
}

/* Dots */

.slick-slider{
  margin-bottom: 30px;
  @media (max-width: 679px){
    margin-bottom: 50px;
  }
}

.slick-dots{
    bottom: -20px;
    position: absolute;
    display: block;
    margin: 0 17% 14px 17%;
    width: 66%;
    padding: 0;
    list-style: none;
    text-align: center;
    @media (max-width: 679px){
      bottom: -60px;
    }
    @media (min-width: 680px) and (max-width: 879px){
      bottom: -40px;
    }
}

.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    color: green;
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    color: green;
    opacity: 1;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
}

/* Arrows */
.slick-prev,
.slick-next{
    font-size: 0;
    line-height: 0;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 5px black;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    @media (max-width: 679px){
      bottom: -20px;
    }
    @media (min-width: 680px) and (max-width: 879px){
      bottom: -20px;
    }
    @media (min-width: 880px){
    top: 120px;
    }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
    box-shadow: 0 0 5px green; 
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    color: green;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    border-radius: 30px;
    opacity: 1;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
    @media (max-width: 679px){
      left: 10px;
    }
    @media (max-width: 879px){
      left: 10px;
    }
}
[dir='rtl'] .slick-prev
{
    right: -35px;
    left: auto;
}
.slick-prev:before
{
    top: 50%;
    transform: translateY(-50%);
    content: '\1F818';
    line-height: .9;
    font-weight: 800;
    opacity: .75;
}
[dir='rtl'] .slick-prev:before
{
    content: 'dog';
}

.slick-next
{
    right: -25px;

  @media (max-width: 679px) {
    right: 10px;
  }
  @media (min-width: 680px) and (max-width: 879px) {
    right: 10px;
  }
  @media (min-width: 880px) and (max-width: 1069px) {
    right: -25px;
  }
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    top: 50%;
    transform: translateY(-50%);
    content: '\1F81A';
    line-height: .9;
    font-weight: 800;
    opacity: .75;
}
[dir='rtl'] .slick-next:before
{
    content: '>';
}

.pogo{
  padding-top: 20px;

  background-color: pink;
}
.pogo2{
  padding-top: 20px;

  background-color: blue;
}
.pogo3{
  padding-top: 20px;

  background-color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

.mininav {
  float: right;
  font-weight: bold;
  padding: 14px 10px 14px 10px;
  background-color: white;
  border: solid 1px black;
      margin-right: 65px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    margin-right: 65px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: green;
}

.signup {
  padding: 5px 5px 5px 5px;
  margin-top: 40px;
  border: solid, 1px, black;
  font-size: 150%;
}