		
	
		

		
			<div class="col-md-4 text-center">
				<% @products.each do |trait| %>
					<div class="amazon_box">
							$10,000.00 
							<button>Buy</button>
							<br>
							^^^^^^^^
					</div>
						
				<% end %>
			</div>
			
		