<header class="navbar">
	<div class="hamburger">
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
    </div>
    <div>
    	<%= link_to "Clerkable", root_path, id: "logo" %>
    </div>
</header>